<div class="">
  <div>
    <ul>
      <li> タイトル:<%= @event.title %> </li>
      <li> 内容:<%= @event.content %> </li>
      <li> 投稿日時:<%= @event.start_time %> </li>
    </ul>
  </div>
  
  <ul>
    <li>
      <%# <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
    </li>
    <li>
      <%= link_to '削除', event_path(@event.id), method: :delete %>
    </li>
  </ul>

  <a class="" href="/">トップへ戻る</a>
</div>
